---
import store from "@store";
import Layout from "@layouts/Layout.astro";
import Releases from "@components/Releases.astro";
import { pluralize } from "@util/string";
import { getArtistDisplayName } from "@util/data";

export async function getStaticPaths() {
  const allReleases = store.releasesByArtist;

  // TODO: There's likely a better way to do this than using getArtists since
  // we're already getting all the artists from getReleasesByArtist
  // We just don't have the artist slug there yet.
  return store.artists.map((artist) => {
    const artistReleases = allReleases[artist.name.toLowerCase()];

    return {
      params: { artist: artist.slug },
      props: { artist, releases: artistReleases },
    };
  });
}

const { artist, releases } = Astro.props;
---

<Layout title={getArtistDisplayName(artist.name)}>
  <main class="standard-restricted-width">
    <header>
      <h1 class="title">
        {getArtistDisplayName(artist.name)}
      </h1>
      <h2 class="subtitle">
        {releases.length}
        {pluralize("record", releases.length)}
      </h2>
    </header>

    <Releases releases={releases} />
  </main>
</Layout>

<style>
  header {
    padding-bottom: calc(var(--sp-8) * 4);
    padding-top: calc(var(--sp-8) * 2);
    text-align: center;
  }

  .title {
    font-style: italic;
    font-size: 72px;
    font-weight: 900;
    line-height: 1;
    margin: 0;
  }

  .subtitle {
    color: var(--color-accent-primary);
    font-size: var(--font-size-22);
    font-weight: 300;
    margin: 0 auto;
    padding-top: var(--sp-14);
  }
</style>
