---
import Layout from "@layouts/Layout.astro";
import collection from "@data/collection.json";
import { getArtists } from "@util/data";

export async function getStaticPaths() {
  return getArtists(collection).map((artist) => ({
    params: { artist: artist.slug },
    props: { artist },
  }));
}

const { artist } = Astro.props;
---

<Layout title={artist.name}>
  <main>
    <h1>{artist.name}</h1>
  </main>
</Layout>
