---
import store from "@store";
import Layout from "@layouts/Layout.astro";
import Releases from "@components/Releases.astro";

export async function getStaticPaths() {
  const allReleases = store.releasesByArtist;

  // TODO: There's likely a better way to do this than using getArtists since
  // we're already getting all the artists from getReleasesByArtist
  // We just don't have the artist slug there yet.
  return store.artists.map((artist) => {
    const artistReleases = allReleases[artist.name];

    return {
      params: { artist: artist.slug },
      props: { artist, releases: artistReleases },
    };
  });
}

const { artist, releases } = Astro.props;
---

<Layout title={artist.name}>
  <main>
    <h1>{artist.name}</h1>

    <Releases releases={releases} />
  </main>
</Layout>
