---
import store from "@store";
import Layout from "@layouts/Layout.astro";
import { buildUrl, getArtistDisplayName } from "@util/data";

const artists = store.artists;
---

<Layout title="Artists">
  <main class="standard-restricted-width container">
    <h1 class="standard-page-title">{artists.length} Artists</h1>
    <ul>
      {
        artists.map(({ name }) => (
          <li>
            <a href={buildUrl([name])}>{getArtistDisplayName(name)}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .container {
    container-type: inline-size;
    container-name: artists;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li + li {
    margin-top: var(--sp-24);
  }

  a {
    color: inherit;
    font-size: var(--font-size-22);
    font-weight: 800;
    letter-spacing: -0.03em;
    line-height: 1;
    text-decoration: none;
  }

  a:where(:hover, :focus) {
    color: var(--color-accent-primary);
  }

  @container artists (min-width: 500px) {
    ul {
      columns: 2;
      column-width: 14ch;
    }

    li {
      padding-right: var(--sp-10);
    }

    a {
      font-size: var(--font-size-20);
      font-weight: 700;
    }
  }

  @container artists (min-width: 915px) {
    ul {
      columns: 3;
    }
  }

  @container artists (min-width: 1300px) {
    ul {
      columns: 4;
    }
  }

  @container artists (min-width: 1500px) {
    ul {
      columns: 5;
    }
  }
</style>
