---
import store from "@store";
import Layout from "@layouts/Layout.astro";
import { buildUrl } from "@util/data";

const artists = store.artists;
---

<Layout title="Artists">
  <main class="standard-restricted-width">
    <h1 class="standard-page-title">{artists.length} Artists</h1>
    <ol>
      {
        artists.map(({ name }) => (
          <li>
            <a href={buildUrl([name])}>{name}</a>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
