---
import Layout from "@layouts/Layout.astro";
import Releases from "@components/Releases.astro";
import collection from "@data/collection.json";
import { getReleasesByArtist } from "@util/data";
import type { Release } from "@types";

const releases = getReleasesByArtist(collection);
let releasesDisplay: Release[] = [];
for (const key in releases) {
  releasesDisplay.push(...releases[key]);
}
---

<Layout title="Wax">
  <main>
    <h1>{releasesDisplay.length} records</h1>
    <Releases releases={releasesDisplay} />
  </main>
</Layout>
