---
import Layout from "@layouts/Layout.astro";
import releases from "@data/collection.json";
import { getReleaseUrl } from "@util/data";
---

<Layout title="Wax">
  <main>
    <h1>{releases.length} records</h1>
    <ol>
      {
        releases.map((release) => (
          <li>
            <a href={getReleaseUrl(release)}>
              {release.basic_information.title}
              <br />
              {release.basic_information.artists[0].name}
            </a>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
