---
import Layout from "@layouts/Layout.astro";
import releases from "@data/collection.json";
---

<Layout title="Wax">
  <main>
    <h1>{releases.length} records</h1>
    <ol>
      {
        releases.map(({ basic_information }) => (
          <li>
            <a href="/">
              {basic_information.title}
              <br />
              {basic_information.artists[0].name}
            </a>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
