<header role="banner" class="standard-restricted-width">
  <a href="/" class="branding"
    ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 285 100">
      <defs>
        <!-- Filter to create the melting effect -->
        <filter id="meltingEffect">
          <feTurbulence
            type="fractalNoise"
            baseFrequency="0.015"
            numOctaves="4"
            result="noise"></feTurbulence>
          <feDisplacementMap
            in="SourceGraphic"
            in2="noise"
            scale="10"
            xChannelSelector="R"
            yChannelSelector="G"
          >
            <animate
              attributeName="scale"
              values="15;10;20;20;30;30;40;40;10"
              keyTimes="0;0.25;0.25;0.5;0.5;0.75;0.75;1;1"
              dur="0.25s"
              repeatCount="indefinite"
              calcMode="discrete"></animate>
          </feDisplacementMap>
        </filter>
      </defs>

      <text
        x="5"
        y="85"
        font-weight="900"
        font-family="Texturina, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"
        font-size="100"
        fill="currentColor"
        filter="url(#meltingEffect)"
      >
        WAX!
      </text>
    </svg></a
  >
  <nav>
    <a href="/">Records</a>
    <a href="/artists">Artists</a>
  </nav>
</header>

<style>
  header {
    column-gap: 0.25rem;
    display: flex;
    padding: var(--sp-8) 0;
  }

  .branding {
    color: var(--color-accent-primary);
    display: block;
    width: 86px;
  }

  .branding svg {
    display: block;
    height: auto;
    width: 100%;
  }

  nav {
    display: flex;
    flex: 1;
    column-gap: 1rem;
    padding-top: 0.25rem;
    padding-left: var(--sp-12);
  }

  nav a {
    color: var(--color-accent-primary);
    font-size: var(--font-size-18);
    font-weight: 300;
    line-height: 1;
    text-decoration: none;
  }
</style>
