---
export interface Props {
  title: string;
}

import GlobalStyle from "@components/GlobalStyle.astro";
import Banner from "@components/Banner.astro";
import Footer from "@components/Footer.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap"
      rel="stylesheet"
    />
    <GlobalStyle />
  </head>
  <body>
    <Banner />
    <slot />
    <Footer />
  </body>
</html>
